/*
=====================================
GENERAL STYLE
=====================================
*/
* {
  font-family: sans-serif;
}

body {
    background-color: #FBFBFB;
}

@media (max-width: 40em) {
  div[data-name="holder"],
  div#footer,
  .popup {
      display: none;
  }
}


/*
=====================================
ANIMATIONS
=====================================
*/
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}



/*
=====================================
WAITING INDICATOR
=====================================
*/
div[data-name="waiting-indicator"] {
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      z-index: 2;
}

div[data-name="waiting-indicator"] div,
div[data-name="waiting-indicator"] div:before,
div[data-name="waiting-indicator"] div:after {
  background: #FFC345;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
div[data-name="waiting-indicator"] div {
  color: #FFC345;
  text-indent: -9999em;
  left: 50%;
  top: 30%;
  position: fixed;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
div[data-name="waiting-indicator"] div:before,
div[data-name="waiting-indicator"] div:after {
  position: absolute;
  top: 0;
  content: '';
}
div[data-name="waiting-indicator"] div:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
div[data-name="waiting-indicator"] div:after {
  left: 1.5em;
}
/*
=====================================
BITHEREUM BACKGROUND
=====================================
*/
#bithereum-background {
    position: absolute;
    width: 20rem;
    height: 20rem;
    right: 3rem;
    bottom: 5rem;
    background-image: url(../images/bithereum-background.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

/*
=====================================
BITHEREUM MAIN
=====================================
*/
div[data-name="holder"] {
    max-width: 64rem;
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 1rem 0;
}

div[data-name="holder"] h1 {
  display: block;
  text-align: center;
}

div[data-name="holder"] p {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.8;
  max-width: 40rem;
  margin: 0 auto 1rem auto;
}

div[data-name="holder"] small {
  color: #666666;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 3rem 0;
}

table tr {
  display:table-row;
  border-bottom:1pt solid black;
}

table td, table th {
  display:table-cell;
  padding: 0.5rem 0.3rem;
  font-size: 0.8rem;
}

table tr th {
    font-size: 0.9rem;
    color: #000000;
}

table tr:not(:first-child) {
    cursor:pointer;
}

table tr:not(:first-child):nth-child(even) td {
  background-color: #EEEEEE;
}

table tr:not(:first-child):hover td {
    background-color: #FFC345;
}

div[data-name="ipaddress"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/globe.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="currentheight"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/block.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="nodestatus"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/sync.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="peercount"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/coin.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="connectionstatus"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/clock.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="rpc"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/rpc.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

div[data-name="p2p"] {
    width: 1rem;
    height: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/p2p.png);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.2rem;
}

table button {
  background-color: #000000;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.75rem;
  cursor: pointer;
}
/*
=====================================
BOTTOM FOOTER
=====================================
*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1D2631;
    box-sizing: border-box;
    padding: 1rem 3rem;
    text-align: center;
    z-index: 2;
}

#footer button {
  background-color: #FFC345;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

#footer button:hover {
  opacity: 0.8;
  cursor: pointer;
}


/*
=====================================
GENERAL POPUP STYLE
=====================================
*/
.popup {
  display: none;
}

.popup.show {
  display: block;
}

.popup .background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.95);
    z-index: 5;
}

.popup .content {
    position: absolute;
    z-index: 6;
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    top: 6rem;
    width: 29rem;
    min-height: 10rem;
    left: 50%;
    margin-left: -14.5rem;
    box-sizing: border-box;
    padding: 2rem 0.5rem;
    text-align: center;
    margin-bottom: 10rem;
}

@media(max-width: 40em) {
  .popup .content {
      width: 90%;
      margin-left: -45%;
  }
}

.popup .content .bth-logo {
      width: 4rem;
      height: 4rem;
      margin: 0 auto 1rem auto;
      background-image: url(../images/popup-logo.png);
      background-size: contain;
      background-repeat: no-repeat;
}

.popup .content .done-icon {
      width: 4rem;
      height: 4rem;
      margin: 0 auto 1rem auto;
      background-image: url(../images/popup-done.png);
      background-size: contain;
      background-repeat: no-repeat;
}

.popup .content h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.popup .content p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
  font-size: 0.85rem;
  padding: 0 3rem;
}

.popup .content a.link {
   color: #FFC345;
   font-size: 0.9rem;
   display: block;
   margin: 0.5rem auto 3rem auto;
}

.popup .content button {
  background-color: #FFC345;
  outline: none;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  color: #FFFFFF;
  margin: 0 0.8rem;
  min-width: 9rem;
}

.popup .content button[disabled="disabled"] {
  opacity: 0.5;
  background-color: #EEEEEE;
}

.popup .content button[disabled="disabled"]:hover {
  opacity: 0.5;
  background-color: #EEEEEE;
}

.popup .content .keys .key {
    margin-bottom: 1.5rem;
}

.popup .content .keys .key > span {
    font-weight: bold;
    text-align: left;
    font-size: 0.7rem;
    display: block;
    padding: 0 0.3rem 0.5rem 0.3rem;
    color: #666666;
}

.popup .content .keys .key > div {
  border-bottom: 0.1rem dashed #DDDDDD;
  background-color: #F7F7F7;
  display: block;
  width: 95%;
  font-size: 0.8rem;
  padding: 0.8rem 0.3rem;
  margin: 0 auto;
  text-align: center;
}

.popup .content button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup .content button.alt {
  background-color: #1D2631;
}

.popup .content .fields {
  width: 90%;
  margin: 0 auto 2rem auto;
}

.popup .content .field {
  width: 100%;
  margin-bottom: 1.3rem;
  display: block;
}

.popup .content .field label {
  color: #1D2631;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  font-size: 0.9rem;
}

.popup .content .field input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #EEEEEE;
  box-sizing: border-box;
  padding: 0.8rem 2rem;
  text-align: center;
}

.popup .content .progress {
    width: 90%;
    height: 0.5rem;
    border-radius: 1rem;
    background-color: #EEEEEE;
    position: relative;
    display: block;
    margin: 2rem auto;
    overflow: hidden;
}

.popup .content .progress .bar {
  position: absolute;
  left: 0;
  height: inherit;
  border-radius: 1rem;
  background-color: #1D2631;
}


/*
=====================================
POPUP: ADD NODE
=====================================
*/
.popup[data-name="addnode"] .content small {
    color: #929395;
    font-size: 0.8rem;
}

.popup[data-name="addnode"] .content .notes small {
    display: inline-block;
    min-width: 8rem;
    margin: 0.3rem 0.9rem;
    text-align: center;
}


/*
=====================================
POPUP: EDIT NODE
=====================================
*/
.popup[data-name="editnode"] .content a[data-name="stopnode"],
.popup[data-name="editnode"] .content a[data-name="startnode"] {
    color: #000000;
    font-size: 0.8rem;
    display: block;
    margin: 0 0 2rem 0;
}
