<div class="popup" ng-class="{'show': popup.addnode.isVisible}" data-name="addnode">
    <div class="background" ng-click="popup.addnode.hide()"></div>
    <div class="content">
        <div class="pages">
          <div class="page" ng-show="popup.addnode.page == 1">
              <h3>NODE SETUP</h3>
              <p>Are you creating a new node or adding an existing node?</p>
              <button ng-click="popup.addnode.nextWithExisting()">ADD EXISTING</button>
              <button ng-click="popup.addnode.nextWithCreate()">CREATE NEW</button>
          </div>
          <div class="page" ng-show="popup.addnode.page == 2">
              <h3>NODE LOCATION</h3>
              <p>Choose a folder on your computer where you would like to store the Bithereum blockchain?</p>
              <button ng-click="popup.addnode.back()" class="alt">BACK</button>
              <button ng-click="popup.addnode.chooseLocation()">CHOOSE FOLDER</button>
              <form id="node-location-form">
                  <input id="node-location" ng-hide="true" onchange="angular.element(this).scope().popup.addnode.onChooseLocation()" type="file" webkitdirectory />
              </form>
          </div>
          <div class="page" ng-show="popup.addnode.page == 3">
              <div ng-if="!popup.addnode.fields.wif">
                  <h3>NODE BTH ADDRESS</h3>
                  <p>If you would like to participate in Proof-of-uptime, please provide the BTH address you would like to associate with this new full node?</p>
                  <div class="fields">
                      <div class="field">
                        <input type="text" ng-model="popup.addnode.fields.address" placeholder="(e.g. BBtWPS6LA52kTKM13x6zwDRkyJMehoBjv6)">
                        <a href="javascript:void(0);" ng-click="popup.addnode.generateBTHAddress()" class="link">Create a new address</a>
                      </div>
                  </div>
                  <button ng-show="popup.addnode.fields.category == 'existing_nodes'" ng-click="popup.addnode.page = 1" class="alt">BACK</button>
                  <button ng-show="popup.addnode.fields.category == 'created_nodes'" ng-click="popup.addnode.page = 2" class="alt">BACK</button>
                  <button ng-disabled="!validator.isValidBTHADDRESS(popup.addnode.fields.address)" ng-click="popup.addnode.next()">CONTINUE</button>
              </div>
              <div ng-if="popup.addnode.fields.wif">
                  <h3>CREATE BTH ADDRESS</h3>
                  <p>Your new BTH address and private key have been generated below for you. Keep them safe!</p>
                  <div class="keys">
                      <div class="key">
                          <span>BTH ADDRESS</span>
                          <div>{{popup.addnode.fields.address}}</div>
                      </div>
                      <div class="key">
                          <span>PRIVATE WIF KEY (DO NOT SHARE)</span>
                          <div>{{popup.addnode.fields.wif}}</div>
                      </div>
                  </div>
                  <small class="notice">Be sure to download or write down your BTH address and Private key. You will NOT be able to generate this same address again.</small>
                  <a href="javascript:void(0);" ng-click="popup.addnode.chooseKeySaveLocation()" class="link">DOWNLOAD KEYS</a>
                  <form id="node-keys-form">
                      <input id="node-keys" ng-hide="true" onchange="angular.element(this).scope().popup.addnode.onChooseKeySaveLocation()" type="file" webkitdirectory />
                  </form>
                  <button ng-show="!popup.addnode.fields.wif" ng-click="popup.addnode.back()" class="alt">BACK</button>
                  <button ng-show="popup.addnode.fields.wif" ng-click="popup.addnode.fields.wif = ''" class="alt">BACK</button>
                  <button ng-show="!popup.addnode.fields.location" ng-click="popup.addnode.next(4)">CONTINUE</button>
                  <button ng-show="popup.addnode.fields.location" ng-click="popup.addnode.createNode()">CONTINUE</button>
              </div>
          </div>
          <div class="page" ng-show="popup.addnode.page == 4">
              <h3>EXISTING NODE SETUP</h3>
              <p>Provide the following details of your full node.</p>
              <div class="fields">
                  <div class="field">
                      <label>IP ADDRESS</label>
                      <input type="text" ng-model="popup.addnode.fields.ipaddress" placeholder="(e.g. 31.192.193.11)">
                  </div>
                  <div class="field">
                      <label>RPC PORT</label>
                      <input type="text" ng-model="popup.addnode.fields.rpcport" placeholder="(e.g. 18554)">
                  </div>
                  <div class="field">
                      <label>P2P PORT</label>
                      <input type="text" ng-model="popup.addnode.fields.p2pport" placeholder="(e.g. 18553)">
                  </div>
                  <div class="field">
                      <label>RPC USERNAME</label>
                      <input type="text" ng-model="popup.addnode.fields.rpcusername">
                  </div>
                  <div class="field">
                      <label>RPC PASSWORD</label>
                      <input type="text" ng-model="popup.addnode.fields.rpcpassword">
                  </div>
              </div>
              <button ng-click="popup.addnode.back()" class="alt">BACK</button>
              <button ng-disabled="!validator.isValidExistingNode(popup.addnode.fields)" ng-click="popup.addnode.addExisting()">ADD NODE</button>
          </div>
          <div class="page" ng-show="popup.addnode.page == 5">
              <div class="done-icon"></div>
              <h3>NODE HAS BEEN ADDED!</h3>
              <p>Your node has been successfully added to the node tool.</p>
              <button ng-click="popup.addnode.hide()">DONE</button>
          </div>
        </div>
    </div>
</div>
